/* Styles for the custom footer, setting the background color to the secondary color from the theme */
.custom-footer {
  background-color: var(--secondary-color);
}

/* Base styles for social media and email links in the footer */
.github-link,
.linkedin-link,
.email-link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease;
}

/* Hover effect for social media and email links */
.github-link:hover,
.linkedin-link:hover,
.email-link:hover {
  color: #ffcc00;
  border-bottom: 2px solid #ffcc00;
}
